/** 
    >> Universal selectors 
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

#main__wrap {
  width: 100%;
  max-width: 100%;
}

.section__wrap {
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 76.25px;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}

h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/** 
    >> Primary Button 
**/
.btn--primary {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #005fac;
  text-align: center;
  padding: 20px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/** 
    >> Header Section 
**/
.header__main__wrap {
  /*header section background image*/
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}

.header__section__wrap {
  width: 80%;
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__content__wrap {
  width: 30%;
  text-align: right;
  color: #f8f8f8;
}

.header__content__wrap p {
  padding: 32px 0;
}

/** 
    >> About me Section
    AND 
    >> Failure Section 
**/
.about__section__wrap {
  background-color: #f5f5f5;
  padding: 50px 0px 0px 50px;
  border-radius: 3px;
}

.failure__section__wrap,
.about__section__wrap {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 80px;
}

.failure__left__wrap img,
.about__right__wrap img {
  width: 570px;
}

.failure__right__wrap,
.about__left__wrap {
  flex-basis: 33%;
  padding: 30px;
  margin-top: 150px;
}

.failure__right__wrap p,
.about__left__wrap p {
  margin: 24px 0px;
}

.failure-list li,
.about-list li {
  list-style: none;
  line-height: 26px;
  color: #444343;
  font-weight: 400;
}

.failure-list li i,
.about-list li i {
  color: #4ecb71;
}

/** 
    >> Plans Section 
**/
.plans__section__wrap {
  margin-top: 130px;
}

.plans__section-title {
  text-align: center;
  margin-bottom: 50px;
}

.plans__contents__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.plans__contents__wrap .item-title {
  margin: 16px 0;
}
.plans__contents__wrap .item-subtitle {
  color: #737272;
}

/** 
    >> Call now Section 
**/
.call__section__wrap {
  display: flex;
  align-items: center;
  background-image: url(../images/watch.png),
    linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  margin-top: 130px;
  margin-bottom: 110px;
  padding: 64px;
  border-radius: 8px;
}

.call__content__wrap {
  width: 42%;
}

.call__content__wrap .section-title {
  color: #f8f8f8;
  margin-bottom: 24px;
}

/** 
    >> Footer Section 
**/
.footer__main__wrap {
  background-color: #151414;
}

.footer__section__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f8f8;
  padding-top: 158px;
  padding-bottom: 101px;
}

.footer__left__wrap {
  width: 40%;
}

.footer__left__wrap .footer-description {
  margin: 24px 0;
}

.footer__left__wrap .phone {
  margin: 16px 0px 32px 0px;
}

.footer__left__wrap .social__wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__left__wrap p a {
  color: #f8f8f8;
  text-decoration: none;
}

.social__wrap li {
  list-style: none;
}

.social__wrap li img {
  width: 46px;
}

.footer__right-title {
  margin-bottom: 30px;
}

.newsletter .email__wrap input {
  width: 100%;
  font-size: 18px;
  background-color: transparent;
  color: #f8f8f8;
  padding: 22px 158px 22px 22px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  border-radius: 8px;
}

.newsletter .email__wrap input::placeholder {
  color: #f8f8f8;
}

.submit {
  background-color: #005fac;
  color: #f8f8f8;
  padding: 20px 36px;
}
