/* Universal selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-bottom: 50vh;
}

h1 {
  font-size: 65px;
  font-weight: 700;
  line-height: 76.25px;
}
h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}
h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
}
h4 {
  font-size: 25px;
  font-weight: 500;
  line-height: 29px;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Primary Button */
.btn--primary {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #005fac;
  text-align: center;
  padding: 20px 26px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#main__wrap {
  width: 100%;
  max-width: 100%;
}
.section__wrap {
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
}
.header__main__wrap {
  /*header section background image*/
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: 100% 800px;
}
.header__section__wrap {
  width: 80%;
  height: 85vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__content__wrap {
  width: 30%;
  text-align: right;
  color: #ffffff;
}
.header__content__wrap p {
  padding: 32px 0;
}

/* Failure Section */
.failure__section__wrap {
  display: flex;
  gap: 100px;
  align-items: center;
  margin-top: 80px;
}

.failure__left__wrap img {
  width: 570px;
}
.failure__right__wrap {
  flex-basis: 33%;
  padding: 30px;
  margin-top: 150px;
}
.failure__right__wrap p {
  margin: 24px 0px;
}
.failure-list li {
  list-style: none;
  line-height: 26px;
  color: #444343;
  font-weight: 400;
}
.failure-list li i {
  color: #4ecb71;
}
/* Plans Section */
.plans__section__wrap {
  margin-top: 130px;
}
.plans__section-title {
  text-align: center;
  margin-bottom: 50px;
}
.plans__contents__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.plans__contents__wrap .item-subtitle {
  color: #737272;
}
